@media screen and (max-width: 1229px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main .container {
        grid-column-gap: 15px;
    }

    .choose {
        padding: 0 0 100px;
    }

    .sushi-maker .container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .sushi-maker-image {
        grid-column: unset;
        grid-row: unset;
        order: 2;
        margin-bottom: 50px;
    }

    .sushi-maker h2 {
        order: 1;
    }

    .sushi-maker p {
        max-width: 100%;
        order: 3;
    }

    .sushi-maker .read-more {
        order: 4;
    }

    .sushi-maker-items {
        order: 5;
    }
}

@media screen and (max-width: 1050px) {
    .main {
        padding: 50px 0 100px;
        font-size: 16px;
    }

    .main .container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .main-advantages {
        margin-bottom: 50px;
    }

    .main-actions {
        margin-bottom: 50px;
    }

    .main-image {
        grid-column: unset;
        grid-row: unset;
    }
}

@media screen and (max-width: 940px) {
    .header .container {
        grid-template-columns: 248px 1fr;
    }

    .sushi-maker h2 {
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 767px) {
    .header {
        padding: 15px 0;
    }

    .header .container {
        grid-template-columns: 170px 1fr;
    }

    .burger {
        display: block;
        font-size: 60px;
        color: #fdefd5;
        align-self: center;
        line-height: 60px;
    }

    .header .menu {
        display: none;
    }

    .main h1 {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 34px;
        max-width: 100%;
    }

    .main-advantages {
        gap: 20px;
    }

    .main-image {
       max-width: 100%;
    }

    .choose-items {
        grid-template-columns: repeat(auto-fill, minmax(280px, 767px));
    }

    .choose-item {
        max-width: 100%;
    }

    .sushi-maker h2 {
        font-size: 26px;
    }

    .footer {
        padding: 15px 0;
    }

    .footer span {
        margin-left: 50px;
    }
}